body {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;
    z-index: -1;
    transition: 0.5s ease-in-out;
}

h1 {
    color: darkblue;
}

h2 {
    color: black;
}

.heading {
    margin-top: 50px;
    margin-left: 100px;
}


.main-Head {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    background-color: rgb(3, 222, 222);
    align-items: center;
    padding: 20px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 20px;
    border: 1px solid black;
}

.main-Head>h1 {
    color: orangered;
}

.container {
    position: absolute;
    margin-top: 20px;
    margin-left: 100px;
    padding: 10px;
    border: 1px solid black;
    background: linear-gradient(to right, #00ff3c, #fff200);
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.container .time {
    position: relative;
    width: calc(100px - 30px);
    height: calc(100px - 30px);
    float: left;
    justify-content: center;
    left: 469px;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
    padding-top: 12px;
}

.colon {
    position: relative;
    width: 30px;
    height: 70px;
    float: left;
    left: 469px;
    top: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 7px;
    text-align: center;
    padding-top: 15px;
    font-weight: bolder;
    font-size: 20px;
}


.controls {
    position: relative;
    float: left;
    left: 32%;
    font-size: 25px;
    bottom: 10px;
}

.control-buttons {
    border: 2px solid blue;
    border-radius: 10px;

    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
}

.control-buttons:hover {
    animation-name: fadeIn;
    animation-duration: 0.3s;
    color: aliceblue;
    padding: 10px 20px;
    background-color: white;
}

.control-buttons:hover {
    background-color: lightblue;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#start:hover {
    background-color: rgb(106, 4, 195);
}

#pause:hover {
    background-color: rgb(228, 4, 4);
}

#lap:hover {
    background-color: rgb(116, 5, 200);
}

#reset:hover {
    background-color: rgb(222, 135, 5);
}

#clear:hover {
    background-color: rgb(5, 5, 225);
}


.control-buttons:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#mainContent {
    position: absolute;
    top: 400px;
    left: 565px;
}

.LapInfo {
    border: 1px solid black;
    padding: 10px 20px;
    background: linear-gradient(to right, #4765e0, #d23030);
    font-size: 30px;
    display: block;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.lapNum {
    float: left;
    width: 65px;
}

.lap-NumVal {
    float: left;
}

.lapTime {
    float: right;
    padding-top: 4px;
    padding-left: 115px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* header {
    display: flex;
    flex-direction: column;
} */

.mode-btn {
    /* height: 40px; */
    margin: 2rem;
    padding: 1rem;
    background: rgb(228, 49, 133);
    color: white;
    outline: none;
    border: none;
    transition: 0.4s;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.2s;
    box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.75);
    z-index: 2;
}

.mode-btn:hover {
    background: rgb(213, 49, 126);
}

.mode-btn::before {
    padding: 0.7rem;
}

.mode-btn::after {
    padding: 1rem;
}

.dark-mode {
    background-color: rgb(77, 72, 72);
    background-image: radial-gradient(#181817 0.5px, #4b4d48 0.5px);
}